<div class="row">
  <div class="col-md4 col-md-offsett-4 text-center"></div>
  



    <h2>Connexion</h2>
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
         <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Adresse e-mail" %>
      </div>
    
      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Mot de passe" %>
      </div>
    
      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %> Se souvenir de Moi
        </div>
      <% end -%>
    
      <div class="actions">
        <%= f.submit "inscription", class:"btn btn-primary"  %>
      </div>
    <% end %>


  </div>
</div>